<!-- <div class="container">
  <div>
    <input type="text" [(ngModel)]="newTask">
    <button (click)="add()">Dodaj</button>
  </div>
</div>
<div class="container">
  <div>
    <ul>
      <li *ngFor="let task of tasksList">
        {{task}}
        <button (click)="remove(task)">Usuń</button>  
        <button (click)="done(task)">Zrobione</button>
      </li>
      
    </ul>
  </div>
  <div>
    <li *ngFor="let task of tasksDone">
      {{task}}
       
    </li>
    <ul>
    </ul>

  </div>
</div>
 -->

 <router-outlet>
   <app-top></app-top>
</router-outlet>

<!-- <app-home> -->

<!-- </app-home> -->